.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cart-card {
  background: #111;
  color: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.3);
}

.cart-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-card h3 {
  margin: 10px 0 5px;
}

.cart-card p {
  color: orange;
  font-weight: bold;
}

.cart-card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: orange;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.cart-card button:hover {
  background:rgb(249, 204, 2);
}
