.contact-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  color: #fff;
}

.contact-container h2 {
  margin-bottom: 20px;
  color: orange;
}

.contact-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: orange;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background: #ff9f1a;
}
